<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <!-- <link href="css/index.css" rel="stylesheet"> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<style>
        body 		{   height: 100%;
                        background-color: #d7ccc8;
        }
	</style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1><span class="fa fa-lock"></span> Blockchain for Distributed Multimedia Evidences</h1>
            <br>
            <p></p>
            <!-- <img src="https://drive.google.com/uc?id=1B8rwik0XjBJXrVhuc8BhdoxVjow-PrGW" class="image-size center"> -->
            <br>
            <!-- <p>Login or Register </p> -->
            <br>
            <a href="/login" class="btn btn-primary btn-lg" role="button"> Login </a>
        
            <a href="/signup" class="btn btn-success btn-lg" role="button"> Sign Up </a>
        </div>
    </div>
</body>
</html>