<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include ./head %>
	
	p.big {
		line-height: 1.8;
	}
    
	</style>
</head>

<body>
<header>
    <% include ./init_header %>
</header>
    <div class="container">
        <!-- init nav bar -->

        <div class="page-header text-center">
                <h1> Welcome <%= user.username %> </h1>
                <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
        </div>
        
        <div class="row">
    
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-4 ">
                <div class="well">
                    <h3><span class="fa fa-user"></span> User Information </h3>
    
                        <p class="big">
                            <strong>id</strong>: <%= user.id %><br>
                            <strong>username</strong>: <%= user.username %><br>
                            <strong>uploaded file</strong>: 0 <br>
                            <!-- <strong>password</strong>: <%= user.password %> -->
                        </p>
    
                </div>
            </div>

        </div>
    </div>
    <br><br><br>

	<footer>
		<% include ./footer %>
    </footer>
</div>
</body>
</html>