<!doctype html>
<html>
<head>
    <% include ./head %>
    input[type=submit] {
		width: 100%;
		background-color: #0099FF;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #3366FF;
    }
    </style>
    <script type="text/javascript" src= "/javascripts/verify.js"></script>
</head>

<body>
	<header>
		<% include ./init_header %>
    </header>
<div class="container">
    
        <div class="row">
            <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-6 col-sm-offset-6">
                        <!-- <span class="glyphicon glyphicon-custom glyphicon-cloud-upload"></span> -->
                        <h3>File Verification</h3>
                        <h4>Blockchain</h4>
                        <br>
                    </div>
                <!-- <div class="progress">
                    <div class="progress-bar" role="progressbar"></div>
                </div> -->
                    <div class="col-sm-6 ">
                            <div class="well">
                                <h3><span class="fa fa-user"></span> User Information </h3>
                                    <p>
                                        <strong>id</strong>: <%= user.id %><br>
                                        <strong>username</strong>: <%= user.username %><br>
                                        <!-- <strong>password</strong>: <%= user.password %> -->
                                    </p>
                        </div>
                    </div>

                    <div class="col-sm-6 ">

                        Your evidences will be reliable or not ? Let check the original of your file <br>
                        <form action="/verify" class="VerifyFile" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <!-- <label>Files</label> -->
                                <br>
                                <input type="file" class="form-control files" id="files" name="file">
                            </div>
                            <br>
                            <br>
                            <input type="submit" value="Verify">
                        </form>                        
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
          
        
        <footer>
            <% include ./footer %>
        </footer>
</div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</body>
</html>